body {
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  background-image: url(/IMG/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
}

.navbar .navbar-nav .nav-link {
  color: hsl(0, 0%, 100%);
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: #b0e6e3;
  color: hsl(0, 0%, 100%);
}

.learn1 {
  text-decoration: none;
  color: black;
}

.learn1:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 10px;
}

.learn2 {
  text-decoration: none;
  color: black;
}

.learn2:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 10px;
}

.egg {
  background-image: url(/IMG/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.glass {
  background-image: url(/IMG/desktop/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.cherry {
  background-image: url(/IMG/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.orange {
  background-image: url(/IMG/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.milk {
  background-image: url(/IMG/desktop/image-gallery-milkbottles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.orange2 {
  background-image: url(/IMG/desktop/image-gallery-orange.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.waffle {
  background-image: url(/IMG/desktop/image-gallery-cone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.sugar {
  background-image: url(/IMG/desktop/image-gallery-sugarcubes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.card-img-top {
  width: 17%;
}
.card {
  border: none;
}

footer {
  background-color: #a1decf;
  height: 300px;
  color: hsl(168, 34%, 41%);
}

.footNav {
  color: hsl(168, 34%, 41%) !important;
}

.footNav:hover {
  color: white !important;
}

.icon {
  color: hsl(168, 34%, 41%) !important;
}

.icon:hover {
  color: white !important;
}
